.btn-primary {
  background-color: #ff5242;  
  border-color: #ff5242;      
}

.btn-primary:hover {
  background-color: #f62d1e;   
  border-color: #f62d1e;
}
h2 {
    font-size: 1.8rem;
    color: #343a40;
    font-weight: bold;
  }
  
  table {
    width: 100%;
  }
  
  button {
    margin-right: 5px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  